.tooltip-text {
  visibility: hidden;
  width: 130px;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Posicionamento */
  position: absolute;
  z-index: 1;
  /* Altere conforme necessário */
  left: 8%;
  margin-left: -60px;

  /* Transições */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}